
@using PodEZ.PodEZTemplate.Web.Areas.App.Models.Common.Modals
@using PodEZ.PodEZTemplate.Web.Areas.App.Models.PozOrderDemo
@model PozOrderDemoViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PozOrderDemoInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PozOrderName") :</h6>
                @Model.PozOrderDemo.PozOrderName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PozOrderDescription") :</h6>
                @Model.PozOrderDemo.PozOrderDescription
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PozImageTotal") :</h6>
                @Model.PozOrderDemo.PozImageTotal
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

